.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    width: 100%;
}

.menulogo {
    font-size: 1.875rem;
    text-decoration: none;
    color: black;
}


.link {
    font-size: 1.875rem;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;

    &:hover {
        color: #666;
    }
}

.select {
    font-size: 1.7rem;
    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
}

.imageContainer {
    width: 50%;
    margin: 1rem;
}

.selectContainer {
    width: 100%;
}

.selectTitle {
    font-size: 1rem;
    text-align: center;
}